/**
*  Theme Name: mustmuna 2017
**/
$hovercolor : #ec008c;
$accent : #ec008c;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  font-size: 21px;
  font-weight: 300;
    letter-spacing: 1px;
}
html,
body {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.bg-holder {
 overflow: hidden;
 position: relative;
}
.site {
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}
.page-template-contact-template .site section.map,
.page-template-contact-template-otherdom .site section.map {
  background-color:#0d0d0d; 
}
.page-template-contact-template .contact-us-trigger,
.page-template-contact-template-otherdom .contact-us-trigger {
display: none;
}

.container {
  max-width: 1102px;
  margin: 0 auto
}
.minicontainer {
  max-width: 950px;
  margin: 0 auto;
  a {
   display: block;
 }
 a.mobile {
   display: none;
 }
}
.lg_container {
  max-width: 1310px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: color .3s;
  color: #ec008c;
}
a:hover {
  color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: normal;
    letter-spacing: 1px;
}
h1, 
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
  a:hover {
    color: #ffffff;
  }
}
h1,
h2,
.hsize {
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
    letter-spacing: 1px;
}


h3 {
  font-size: 25px;
  line-height: 29px;
  font-weight: 400;
}
.single-portfolio h1 {
  font-size: 25px;
  line-height: 29px;
  font-weight: 400;
}
h4 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
}
h5 {
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
}
h6 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
}

input,
label,
textarea {
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  background-color: transparent;
  text-align: left;
}
input {
  line-height: 15px;
  padding: 10px 0;
  max-width: 100%;
  margin: 0 0 15px 0;
}
ol {
  -webkit-padding-start: 20px;
}
form {
 max-width: 533px;
 margin: 0 auto;
 text-align: left;
}
.displaynone {
  display: none !important;
}
div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}
div.wpcf7-response-output {
    margin: 1em 0.5em 0;
}
.centeralign form {
   text-align: center;
}
.call_action form {
 text-align: center;
}
.page-template-default form {
  margin: 0;
}
#seogroup-embed #seogroup-scan_form {
   margin: 0 auto;
    max-width: 100%;
}
#seogroup {
    text-align: center;
}
#seogroup .outerwrapper {
    display: inline-block;
}
div#seogroup .seo-scorform .greenabar {
    width: 100%;
    max-width: 762px;
    padding: 0;
    margin: 20px 0;
}
#seogroup-embed #seogroup .seo-scorform .form .form-group input[type="text"] {
    border-radius: 3px;
    
}
#seogroup-embed #seogroup .seo-scorform .form input[type="submit"] {
      padding: 12px 1%;
      border-radius: 3px;
      font-size: 17px;
      height: 45px;
      width: 14%;
    float: right;
    border-width: 2px;
    border-style: solid;
}
#seogroup-embed #seogroup #seogroup-form-url {
    width: 33%;
        max-width: 236px;
}
#seogroup-embed #seogroup #competitor_url input {
    width: 33%;
        max-width: 236px;
}

#seogroup-embed #seogroup #seogroup-form-keyword {
    width: 24%;
}

#seogroup-embed #seogroup .form a.btn-competitor-url {
    position: static;
    margin-top: 30px;
    display: inline-block;
    float: left;
}
#seogroup-embed #seogroup #seogroup-form-email {
    width: 27%;
}
textarea,
input,
button,
select {
  outline: none; 
}
textarea,
input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #fff;
  caret-color: white;
  color: #fff;
  max-width: 298px;
  width: 100%;
}
label {
  line-height: 25px;
  font-size: 15px;
}
textarea {
  height: 36px;
  padding: 10px 0;
  width: 100%;
  overflow:hidden;
  transition: all 300ms linear;
}
textarea.lg {
height: 150px;
}
input[type="submit"] {
     border-width: 2px;
    border-style: solid;
    color: #ec008c;
    transition: all .3s;
    max-width: 145px;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 0;
    box-shadow: inset 0 0 0 0;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
    transition: all .4s;
    cursor: pointer;
    padding: 9px 33px;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    height: 47px;
    font-weight: 300;
}
select {
  font-family: "Roboto", Arial, Tahoma, sans-serif;
    min-width: 298px;
    overflow: hidden;
    min-height: 102px;
    background-color: transparent;
    border: none;
    outline: none;
}

.inlineblock {
  display: inline-block;
}
.block {
  display: block;
}
.white {
  color: #fff;
}
.whitebg {
  background-color: #fff;
}
span.gray {
  color: #707070;
}
.gray {
 filter: gray; /* IE6-9 */
 -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
 filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.gray:hover {
  -webkit-filter: grayscale(0);
  filter: none; 
}
.centeralign {
  text-align: center;
}
.clear {
  clear: both;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.rightalign {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: 400;
}
.tagpromo {
  display: none;
}
.table {
  display: table;
  width: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.table.fillall {
  height: 100%;
  width: 100%;
}
.tr {
  display: table-row;
  width: 100%;
}
.td {
  display: table-cell;
  img {
   max-width: 100%;
   height: auto;
 }
}
.td.middle {
  vertical-align: middle;
  text-align: center;
}
.verticalmiddle {
  vertical-align: middle;
}
.verticaltop {
  vertical-align: top;
}
.leftalign {
  text-align: left;
}

.darkgray {
  background-image: url(./images/dark_bg.png);
}
.lightgray {
  background-image: url(./images/light_bg.png);
}
.mediumgray {
  background-image: url(./images/medium_bg.png);
}

.linebetween {
  position: relative;
}
.linebetween:before {
  position: absolute;
  content: ' ';
  bottom: -85px;
  height: 140px;
  border-left-width: 0px;
  border-style: solid;
  z-index: 2;
}
.specialcolor:before,
.specialafter:after,
.specialborder {
  border-color: $accent;
}
input.specialborder {
  color: $accent;
}
.input.specialborder:hover {
  color: #fff;
}
.sort.specialborder.currentcat,
.sort.specialborder:hover  {
  color: $accent;
}
.specialhover:before {
  background: rgba(0,0,0,.08);
}
.specialhover:hover:before {
  background-color: $accent;
}
.fontcolor {
  color: #fff;
}
.bordercolor  {
  border-color: #fff;
}
.iconcolor {
  color: #444;
}
.backgroundcolor {
 background-color: #000;
}
.icobackground {
  background-color: #fff;
}
.maincolor {
  background-color: #fff; 
}

.hovercolor:hover {
  color: #b5b5b5;
}
.leftline:before {
  left: 9%;
}
.rightline:before {
  right: 20%;
}
.linebetween.reverse:before {
  bottom: -48px;
}
.maincontent {
  img {
    max-width: 100%;
  }
  .parallax {
max-width:none;
  }
}
.demoimg img {
 display: block;
 margin: 0 auto;
    width: 100%;
}

.site-header {
  padding: 10px 0;
  transition: padding .2s ease; 
  position: relative;
  z-index: 3;
}
.site-header.headercolor {
  background-color: #333333;
}
.page-template-services-template,
.page-template-services-template-other,
.home  {
  .site-header.headercolor {
   background-color: transparent;
 }
 section.header, div.header {
  top: -80px;
  margin-bottom: -80px;
  img {
    display: block;
  }
  .item {
        background-position: top center;
    background-size: cover;
  }
}
}
.section.packages {
    .minicontainer {
    max-width: 850px;
}
.one-forth.column {
  width: 25%;
        padding: 11px 3px;
      
    .head  {
      padding: 11px 15px;
    }
    .services {
          padding-left: 15px;
    padding-right: 15px;
        padding-bottom: 100px;
        font-size: 18px;
    }
    .bg {
     
         background-color: rgba(255, 255, 255, 0.45);
             height: 100%;
    }
    ul li {
          padding: 3px 0;
    }
    .absolute {
          bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    }
  }
  .button {
    padding: 9px 33px;
    height: 47px;
    max-width: 150px;
    margin: 30px auto 0;
  }
 .head h3 {
    padding-bottom: 10px;
    border-style: solid;
    border-right: none;
    border-left: none;
        border-top: none;
    border-bottom-width: 1px;
  }
 .head h4 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
}
.imgcont {
    padding: 40px 0 20px;
}
.tabs {
  display: inline-block;
    .tab {
  margin-bottom: 0;
  }
  .tab a {
padding: 20px;
display: block;
border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: transparent;
  }
}

.pg_sum {
      margin-top: 60px;
    .button {
      margin-top: 0;
      padding: 0 33px;
      color: #000;
    }
    .button.fillhover:hover {
    background-color: initial;
    color: initial;
}
    .sumcont {
      line-height: 43px;
    }
}
.pg_img,
.pg_sum .sum {
     visibility: hidden;
 opacity: 0;
 height: 0;
 margin: 0 auto;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.pg_img,
.packpage {
  display:none;
}
.cartext {
margin-top: 40px;
}

.packlink {
  padding: 20px;
  display: block;
  color: #000;
      border-width: 0;
      border-bottom-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.pg_img.current,
.pg_sum .sum.current,
.packpage.current {
     visibility: visible;
 opacity: 1;
 height: auto;
 display: block;
}

.packlink:hover,
.pick_pg:hover {
  color: #000;

}
.page-template-frontpage-template-otherdom {
   .frontpromo {
    .lg_container {
      .button {
    text-align: center;
    min-width: 311px;
    font-size: 20px;
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 30px;
      }
    }
h2 {
  font-weight: 900;
  font-size: 72px;
  font-size: 4vw;
  line-height: normal;
  margin-bottom: 0;
}
h3 {
font-weight: 200;
font-size: 40px;
line-height: normal;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 2vw;
}
  }
}
#masthead.site-header.small {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  padding: 12px 0;
  .main-menu li a {
    padding: 8px 20px;
  }
  img {
    height: 35px;
    width: auto;
  }
}
.site-header.small.headercolor {
  background-color: #333333;
  border-bottom: 1px solid #333333;
}

#logosowl.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.portfoliohead {
  padding-bottom: 40px;
}
.sort {
 padding: 14px 10px;
 color: #858585;
}
.header.tags,
.footertags {
  text-align: center;
  margin-bottom: 30px;
  .tags {
   display: inline-block;
   text-align: left;
   border-bottom: 1px solid rgba(0,0,0,.08);

   .currentcat {
     border-width: 0;
     border-bottom-width: 1px;
     border-style: solid;
   }
 }
}
.tags.marginbottom {
  margin-bottom: 20px;
}
.footertags {
  margin-top: 20px;
}
.edit-link a {
  color: #ffffff;
  display: block;
  padding: 20px 0;
}
.coverimg {
  background-position: center;
  background-size: cover; 
}
.section {
  padding: 90px 0;
}
.cat_description {
  margin-bottom: 40px;
}
.section.frontpagepromo {
  padding: 120px 0;
}
.section.portfolio .header {
  padding: 0 0 50px;
}
section.header,
div.header {
  position: relative;
  z-index: 1;
}

.frontportfolio.sectionpadding{
  padding-top: 120px;
  padding-bottom: 150px;
}
.parallax-windowmin {
 height: 502px;
}
.page-template-landing-template,
.page-template-landing-packages-php {
 .header .parallax-windowmin {
 height: 400px;
}
.navbar-brand {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  img {
    max-height: 60px;
  }
}
}
.parallax {
    position: absolute;
    left: 0;
    top: 0;
    max-width: none!important;
    transition: opacity .2s;
}
.tagpromo,
.all-tekst {
  margin: 0 auto;
  text-align: center;
  h1 {
    text-transform: uppercase;
  }
  h2, 
  h3,
  h4,
  h5,
  h6
  .p {
    font-size: 21px;
  }
}
section.map {
  position: relative;
}
section.fcontact {
 padding: 65px 0;
}
section.otherworks {
  padding: 50px 0 40px;
  ul {
    margin-top: 40px;
    overflow: hidden;
  }
}
.arguments {
ul {
  padding: 0 50px;
  list-style-type: none;
  li {
        padding-left: 35px;
      padding-right: 35px;
    position: relative;
    margin-bottom: 10px;
  }
  .checked {
    position: absolute;
    left: 0;
    top: 0;
  }
}
}
.blog .entry-head h1,
.blog .entry-head h2 {
    font-size: 25px;
    line-height: normal;
}
.blog .entry-head h1,
.blog .entry-head h2 {
    font-size: 25px;
    line-height: normal;
}
.blog .entry-head h4 {
      font-size: 18px;
    line-height: normal;
}
.services,
.site-main > div.blog {
  
  .service,
  .post {
    padding: 0 0 40px 0;
  }
  .service:last-child {
    padding-bottom: 0;
  }
}
.services.notmainpage,
div.blog {
  .image {
   overflow: hidden;
   position: relative;
      max-width: 432px;
 }
 .image img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  display: block;
}

.image:hover img {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  -webkit-filter: grayscale(0);
  filter: none; 
}
a:hover .image img {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  -webkit-filter: grayscale(0);
  filter: none; 
}
}

.smallcontact.absolute {
  position: absolute;
  bottom: 6px;
  left: 0;
  padding: 25px 30px;
  font-size: 16px;
  .get_in_touch_wrapper .row {
   padding: 13px 0 13px 50px;
   border-bottom: 1px solid rgba(255,255,255,.1);
   position: relative;
   
   i {
     text-align: left;
    top: 13px;
   }
 }
 .get_in_touch_wrapper .row:last-child {
   border-color: transparent;  
 }

}

span.wpcf7-not-valid-tip {
  display: none;
}
div.wpcf7-validation-errors {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
div.wpcf7-mail-sent-ok {
    border: none;
}
.client_wrapper {
  padding:10px;
  position: relative;
  display: block;
}
section.clients .client_wrapper:before,
#logosowl .client.thumb:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.logo {
  float: left;
  padding: 0;
  a,
  img {
    display: block;
  }
}
.client.thumb {
  text-align: center;
  .client_wrapper {
    display: inline-block;
    max-width: 600px;
    text-align: left;
}
.authors  {
  text-align: right;
  margin-top: 20px;
}
}
.site-header .logo img{
  max-height: 60px;
  width: auto;
}
.navbar-brand img {
  max-height: 60px;
  width: auto;
}
.footercontact {
  margin-top: 40px;
}

.absolutehead {
  position: absolute;
  top: 0;
  bottom: 0;
  /* width: 100%; */
  left: 0;
  right: 0;
  .table {
   height: 100%;
   .td {
    vertical-align: middle;
  }
  h1,
   h4 {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
}
}
}
.relative {
  position: relative;
}
.mobile,
.tablet,
.smallscreen  {
  display: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow :hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}
#navbar-toggle {
  position: relative;
  margin: 7px 15px;
  padding: 17px 14px 23px;
  background-color: transparent;
  background-image: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: none;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  margin: 0;
  border: none;
}
#navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 7px;
  border-radius: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid; 
}
.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.owl-dot {
  display: inline-block;
  background-color: gray;
  width: 15px;
  height: 15px;
  margin:5px;
}
.owl-dot.active {
  background-color: black;
}
.main-menu {
  float: right;
  li > a{
    color: #878787;
  }
  li.current-menu-item > a,
  li.current_page_item > a,
  li.current_page_parent > a {
    color: #f2f2f2;
  }
  
}
.single-portfolio {
  li.portfolioactive > a {
    color: #f2f2f2;
  }
  li.current_page_parent > a {
    color: #606060;
  }
}
.portfolio,
.blog,
.otherworks {
  .items li,
  .items div,
  .thumbnail {
    float: left;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    svg {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 2;
      width: 35px;
      height: 35px;
    }
    a {
      display: block;
    }
  }
  .items li,
  .items div,
  .thumbnail {
    width: 25%;
  }
  .items div.half {
    width: 50%;
  }
  .othertitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.70);
    .table {
      height: 100%;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }


  .image {
    width: 100%;
    height: 100%;    
  }

  .image img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  }
  
  .image:hover img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    -webkit-filter: grayscale(0);
    filter: none; 
  }
  .loadmore {
   margin-top: 60px;
   padding-top: 6px;
   text-align: left;
   border-width: 0;
   border-top-width: 2px;
   border-style: solid;
 }
 .loadmoreblock {
  display: none;
 }
 .hovercolor {
  cursor: pointer;
}
}
.portfolio .fullcontainer img {
width: 100%;
}
  .postthumb {
padding:0 0 40px;
  }

.blog .thumbnail {
  position: relative;
 padding: 0 8px;
a {
  border: 1px solid rgba(98, 98, 98, 0.23);
  position: relative;
}

 .absolute {
  position: absolute;
  z-index: 4;
  padding: 30px 10px 23px;
  font-size: 21px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.69);
  text-align: center;
      right: 0;
    left: 0;
      min-height: 103px;
}

.excerpt {
 padding: 15px;
 min-height: 182px;
 background-image: url(./images/light-invertedgray.png);
 transition: color 0.3s, text-shadow 0.3s linear;
 position: relative;
 font-size: 16px;
}
a:hover {
.visibleonhover {
  visibility: visible;
  opacity: 1;
  z-index: 4;
    text-shadow: none;
}
.excerpt {
  color: transparent;
   text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
}

}

.readmorecolumn {
  bottom: 0;
      left: 0;
    right: 0;
    top: 0;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  color: #676666;
  i {
    padding: 2px;
    font-size: 34px;
    width: 44px;
    height: 44px;
  }
  .table {
    height: 100%;
    text-align: center;
}
}
.visibleonhover {
   visibility: hidden;
 opacity: 0;
   transition: visibility 0.3s, opacity 0.3s linear;
}
.single-portfolio .table.main {
  padding-bottom: 60px;
}
.single_image img {
  display: block;
}
.tags {
  .sort {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
  }
}

.service_text,
.service_image,
.entry-head,
.entry-image {
 display: block;
 h2,
 h1 {
      padding-bottom: 21px;
        position: relative;
}
h2:after,
h1:after {
  content: '';
  position: absolute;
  width: 60px;
  border-bottom-width: 0;
  border-style: solid;
  left: 0;
  bottom: 0;
}
}
.service_text,
.entry-head,
.content {
 padding: 0 24px 0 0;
 h4 {
  padding-top: 7px;
}
}
.sixty {
   h4 {
  padding-top: 15px;
}
}
 a .service_text {
  .absolute.button{
left: 0;
    bottom: 0;
    position: absolute;
    padding: 9px 33px;
}
 h4 {
  margin-bottom: 0;
}
}
.post {
    .absolute.button {
left: 0;
    bottom: 0;
    position: absolute;
    padding: 9px 33px;
}
 a h4 {
  margin-bottom: 0;
}
}

.service_image,
.entry-image {
  padding-left: 14px;
}
.post-edit-link {
  color: #000;
}
.single-post .maincontent {
  margin: 20px 0 50px;
  p {
      font-size: 18px;
    line-height: 22px;
    font-weight: 300;
  }
  .texts {
    margin-bottom: 30px;
  }
}
.calltoaction {
  padding-top: 110px;
  padding-bottom: 120px;
}

.page-template-request-template {
  .site-header {
    padding-bottom: 80px;
  }
}
.button {
  display: inline-block;
  padding: 18px 33px;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  margin-top: 40px;
  border-radius: 3px;
  transition: color .5s,background-color .5s,border-color .5s;
}
.smallbutton {
  padding: 8px 10px;
  font-weight: 300;
 border-width: 1px;
 position: relative;
}
.blackbackground {
  background-color: #000;
  border-color: #000;
}
.round {
    padding: 0 5px 0 7px;
    border-radius: 50%;
    line-height: 6px;
    font-size: 18px;
    margin-top: 0;
    margin-left: 6px;
}

.button:hover {
  opacity: 0.8;
}

.call_action {

  h2,
  h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  h4 {
        margin-bottom: 40px;
  }
  a.button {
    margin-top: 40px;
    font-size: 18px;
  } 
}


.contactandform {
 .form {
   
  padding: 20px;
  
  position: relative;
  z-index: 2;
  max-width: 366px;
}
}
.formcontainer {
  max-width: 533px;
 margin: 0 auto;
 text-align: center;
 form {
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
}
.contacts {
  padding-bottom: 50px;
}
.contact {
  padding: 40px 40px 5px 0;
  position: relative;
  z-index: 2;
  .clogo {
    min-width: 108px;
    max-width: 23%;
    padding-right: 10px;
    margin-bottom: 102px;
    img {
      max-width: 60px;
    }
  }
  .ccontent {
    width: 73%;
    margin: 0 0 40px 0;
  }
  

}
.owl-prev,
.owl-next {
 position: absolute;
 top: 50%;
 i {
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   background: rgba(0,0,0,0.5);
   border-radius: 50%;
   padding-right: 5px;
 }
}
.owl-prev {
 left: 20px;
}
.owl-next {
 right: 20px;
}
.image_frame {
 padding: 40px 40px 30px;
 img {
  max-width: 383px;
  height: auto;
}
}

.black_map {
  width: 100%;
  height: 450px;

}
.black_map>div {
 background-color: #000 !important;
}
.teamlist {
  li {
    display: inline-block;
  }
}
.position {
  h4 {
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 15px;
    font-size: 15px;
  }
}
.phone {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  .tel a {
   padding-left: 20px;
   
 }
 i {
  left: 0;
  text-align: left;
  display: inline-block;
  width: 20px;
}
}
.phone:after {
  position: absolute;
  content: " ";
 border-top: none;
 border-left: none;
 border-right: none;
 border-width: 0;
 border-bottom-width: 1px;
 border-style: solid;
 width: 40%;
 left: 0;
 bottom: 0;
}

.grayborder:after {
 border-color: #f2f2f2;
}
.blackborder:after {
 border-color: #000;
}

.one-forth.column {
  margin-top: 40px;
  width: 33.33%;
  float: left;
  padding: 11px;
  img {
    margin-bottom: 15px;
  }
  ul li {
    list-style-type: none;
  }
}
.social {
  span {
    display: inline-block;
    width: 43px;
    height: 43px;
    position: relative;
    a {
     display: block;
     line-height: 43px;
     height: 100%;
   }
 }
}
.socialshare {
  a {
    display: inline-block;
        width: 0;
        padding: 9px 10px;
    margin: 0 5px;
  }
   a:first-child {
margin-left: 0;
   }
}
.single-post {
  .socialshare {
  float: right;
     a:last-child {
margin-right: 0;
   }
      a:first-child {
margin-left: 5px;
   }
}
}
.main-menu li {
  display: inline-block;
  list-style-type: none;
  a {
    display: block;
    padding: 21px 20px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #606060;
  }
  a:hover {
    color: #fff;
  }
  
}
.contact-us-trigger {
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 30%;
  padding: 0;
  max-width: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.31);
  transition: visibility 0.3s, opacity 0.6s linear;
  span {
   display: inline-block;
 }
svg polygon,
svg path {
  transition: fill .4s ease;
}
 a:hover svg polygon,
 a:hover svg path{
  fill: #606060;
}
.colorized svg polygon,
.colorized svg path {
fill: #ec008c;
}
}
.contact-us-trigger.active {
 visibility: visible;
 opacity: 1;
}
.contact-us-trigger a {
  display: block;
  padding: 10px 10px;
}
.contact-us-trigger a.tel {
 padding: 5px 10px; 
}

.item {
  position: relative;
}
.frontpromo.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  .tr, .td {
    vertical-align: middle;
  }
  .table {
    height: 100%;
  }
}
.halfpromo {
  .minheight {
min-height: 663px;
padding: 20px 0;
  }
  .bgimg1 {
       background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
  }
  .bgimg2 {
       background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 50%;
  }

.halfcontent{

h3 {
      font-size: 2vw;
    font-size: 27px;
        text-transform: uppercase;
        margin-bottom: 33px;
}
h5 {
  margin-top: 35px;
}
.smallbutton {
  margin-top: 20px;
}
}
}
.rightpadd,
.leftpadd {
  padding: 93px 40px;
      max-width: 500px;
    width: 70%;
}

.half {
  width: 50%;
}

.team .column {
img {
  width: 300px;
}
.position {
  margin-top: 20px;
}
}
.article {
  padding-top: 50px;
}
.forty.bottom {
  position: relative;
  top: 0;
  bottom: 0;
  padding:  0 0 0 50px;
}
.forty.bottom .content {
    padding-right: 0;
}

.sixty {
  width: 60%;
}
.sticky-element {
  .other {
        max-width: 365px;
        padding: 10px 0;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        a {
color: #ffffff;
        }
  }
  .miniportfolio {
    margin-top: 50px;
  }
}

.portfolioextra-element img {
    max-width: 100%;
}

.portfolioextra-element .smallitem {
    padding-right: 7px;
    width: 33.33%;
}

.portfolioextra-element {
  overflow: hidden;
  margin-top: 40px;
      max-width: 365px;
  .smallconteiner {
  margin-right: -7px;
}
  img, a {
    display: block;
  }
  a {
    overflow: hidden;
  }
  .smallitem {
    padding-right: 7px;
    max-width: 33.33%;
  }
}
.imagethumb {
  margin-bottom: 36px;
  a,
  img {
    display: block;
  }
}
.imagethumb:last-child {
  margin-bottom: 0; 
}
iframe {
  margin-bottom: 36px;
}
.forty {
  width: 40%;
  padding-right: 20px;
  .texts {
    font-size: 21px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }
}
.thirty {
    width: 33.333%;
}
.is_stucked {
  padding-top: 50px;
}
.authors {
 padding-top: 15px;
 border-width: 0;
 border-top-width: 2px;
 border-style: solid;
 font-size: 15px;
 line-height: 20px;
 span a {
  color: #000;
}
}
.single-post {
  .authors {
 padding-bottom: 15px;
}
}
.single-post .maincontent ol li,
.single-post .maincontent ul li {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}
 body {
   counter-reset: item;
 }
.single-post .maincontent ol,
.single-post .maincontent ul {
    -webkit-padding-start: 0;
   list-style: none;
 }
.single-post .maincontent ol li,
.single-post .maincontent ul li  {
   counter-increment: item;
 }
.single-post .maincontent ol li:before,
.single-post .maincontent ul li:before {
        margin-right: 5px;
    content: counter(item) ".";
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    line-height: 21px;
    position: relative;
    top: 0;
    font-weight: 400;
 }
.quote {
  img {
    max-width: 60px;
  }
}
.article  .top {
  padding-bottom: 20px;
}
.portfoliohead {
  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.copyright {
 border-top: 1px solid rgba(255,255,255,.1);
 padding-bottom: 20px;
 padding-top: 25px;
 min-height: 33px;
 color: #cccccc;
 font-size: 15px;
 .minheight {
  min-height: 65px;
}
}
span#back_to_top.button_js {

  background: transparent;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all .3s;
  font-size: 33px;
  line-height: 40px;
  .fa {
   -webkit-text-stroke: 1px #4b4b4b;
   transition: all .3s;
   color: #65666C;
 }
 img {
   display: none;
   transition: all .3s;
   max-width: 46px;
   height: auto;
   margin-left: -2px;
   margin-top: -2px;
 }
}

span#back_to_top.button_js:hover {
  border-color: transparent;
  cursor: pointer;

  img {
   display: block;
 }
 .fa {
   display: none;
 }
}
#back_to_top {
  display: inline-block;
  float: none;
  margin: 0 0 15px;
  width: 42px;
  width: 46px;
  height: 46px;
  font-size: 19px;
  text-align: center;
  }
  .footerlogo {
   a {
    display: inline-block;
  }
}
.services.notmainpage a:hover .image img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-filter: grayscale(0);
    filter: none;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-200px)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0)
  }
}

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-200px)
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0)
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-200px)
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.animate.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  opacity: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*= Pagination loader */

#pagination-loader {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
  -webkit-animation: pulse 1s infinite alternate;
  animation: pulse 1s infinite alternate;
}

.lgpag {
  margin: 200px auto 0;
}

@-webkit-keyframes pulse {
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

@keyframes pulse {
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
@media screen and (max-width: 1450px) { 
   .page-template-frontpage-template-otherdom .frontpromo h2 {
       font-size: 3.5vw;
}
  .page-template-frontpage-template-otherdom .frontpromo h3 {
       font-size: 1.5vw;
}
  .page-template-frontpage-template-otherdom div.header img {
    height: 600px;
    width: auto;
    max-width: none;
    visibility: hidden;
}
.lg_container {
  padding: 0 6%;
}

}
@media screen and (max-width: 1135px) { 
  .container {
    padding: 0 20px;
  }
  .frontpromo .container {
   padding: 0; 
}
.contact-us-trigger {
  display: none;
}
.page-template-frontpage-template-otherdom .frontpromo .container .button {
    min-width: 311px;
    font-size: 23px;
    margin-top: 26px;
    padding: 11px;
}
}
@media screen and (max-width: 1090px) {

.blog .thumbnail .absolute {
      top: 0;
    background-color: rgba(255, 255, 255, 0.59);
}
  .contact .ccontent {
    width: 100%;
  }
  .one-forth.column {
    width: 50%;
    text-align: center;
  }
  .phone {
    display: inline-block;
  }
  .phone:after {
    width: 100%;
  }
  .forty.bottom {
    position: relative;
    top: 0;
    bottom: 0;
    padding: 0 15px 0 40px;
  }
    .sticky-element .content {
padding-right: 0;
  }
}
@media screen and (max-width: 980px) {
  .entry-head  {
    h1,
    h2 {
    font-size: 30px;
    line-height: 34px;
    }
  }
  .linebetween:before {
    display: none;
  }
  .minicontainer {
   padding: 0 20px;
 }
 .frontportblog {
  text-align: center;
 }
 .blog .thumbnail {
    width: 50%;
    max-width: 330px;
    float: none;
    display: inline-block;
  .absolute {
    top: auto;
}
}
}
@media screen and (max-width: 900px) { 

.halfpromo {
  .absolute {
        width: 100%;
  }

 .tr,
 .table,
  .container .table,
  .container .tr {
    display: block;
  }

  .leftpadd,
  .rightpadd {
    padding: 50px 40px 50px;
}
  .minheight {
    height: 250px;
      min-height: 250px;
  position: relative;
}
.container {
  max-width: 100%;
  padding: 0;
}
}
.section.packages .one-forth.column {
    width: 50%;
}
.post .absolute.button,
.service .td.middle .button {
    position: static;
    margin-top: 28px;
}
.post .td.middle {
    text-align: left;
}

.service_text h4, 
.entry-head h4,
 .content h4,
 .post a h4 {
    margin-bottom: 0;
}
  .forty.bottom .content {
    padding-right: 0;
  }
  .portfolio-template-default .forty,
  .portfolio-template-default .sixty {
    width: 100%;;
    display: block;
  }
   .sixty .imagethumb img {
    width: 100%;
}
.portfolioextra-element img {
    max-width: 100%;
}
  .service_text .absolute.button {
    position: static;
}
  .portfolio-template-default .forty.bottom {
    padding: 10px 0 0;
  }
  .notablet {
   display: none;
 }
 .portfolioextra-element {
    max-width: unset;
}
 .tablet {
   display: block;
 }
 .tabletcenter {
   text-align: center;
   form {
    text-align: center;
    margin-bottom: 40px;
  }
}
.half {
  width: 100%;
  display: block;
}

.contact .clogo {
    max-width: 89px;
}
.contactandform {
  text-align: center;
  .contact {
    display: inline-block;
  }
  .ccontent {
    text-align: left;
  }
  .form {
  margin: 0 auto 40px;
}
}
.mobileinblock {
  display: inline-block;
}
.smallcontact {
  text-align: center;
}
.team .half,
.arguments .half {
text-align: center;
    margin-bottom: 40px;
}
.arguments .half {
    display: inline-block;
    float: none;
    width: auto;
    text-align: left;
}

.contact .ccontent {
  width: 100%;
}
.contacts .image_frame {
  display: none;
}
.contact {
  padding-right: 0;
}
.service_image {
  display: none;
}
.service_image, .entry-image {
  padding-left: 0;
  display: none;
}
.readmore  {
  margin-bottom: 20px;
}

.service .td.middle {
  .button {
    display: inline-block;
  }
}

.service .leftalign {
  text-align: center;
  display: inline-block;
 padding-bottom: 0;
 width: 100%;
  margin-bottom: 0;
}
.service_text, .entry-head, .content {
  padding-right: 0;
}
.service_text h2:after {
  display: none;
}
.service .button {
 margin-top: 20px;
}
}

@media only screen and (max-width: 800px) {

.page-template-frontpage-template-otherdom .frontpromo h3 {
    font-size: 2.5vw;
}
.page-template-frontpage-template-otherdom .frontpromo h2 {
    font-size: 4.5vw;
}
}
@media screen and (max-width: 860px) {


#seogroup .seo-scorform {
    margin: 0 !important;
}
.page-template-request-template .site-header {
    padding-bottom: 0;
}
.call_action h2,
.call_action h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}
.section.frontpagepromo,
.calltoaction,
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-template-frontpage-template-otherdom .frontpromo .lg_container .button {
        min-width: 208px;
    margin-top: 39px;
    padding: 8px;
    font-size: 20px;
}
 .frontpromo.absolute .td {
  background-color: rgba(255, 255, 255, 0.72);
 }
.page-template-frontpage-template-otherdom .header .frontpromo h3 {
        font-weight: 400;
}

#seogroup-embed #seogroup #seogroup-form-url,
#seogroup-embed #seogroup #competitor_url input {
    width: 28%;
}
.header .owl-carousel .item {

img {
    height: 450px;
  width: auto;
  max-width: none;
}

.container,
div,
.container h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
  text-align: center !important;
}
}
  .page-template-services-template .site-header.headercolor,
  .page-template-services-template section.header, 
  .page-template-services-template div.header,
  .home section.header, 
  .home div.header,
  .home .site-header.headercolor {
    top: 0;
    margin-bottom: 0;
    background-color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  #masthead.site-header.small {
    position: static;
  }
  .one-forth.column {
    width: 100%;
  }

  section.portfolio, 
  div.portfolio {
    padding-top: 60px;
  }
    .page-template-landing-template div.portfolio {
    padding-top: 0;
  }
  .mobile {
   display: block;
 }
 .smallbutton.mobile {
  max-width: 150px;
  margin: 40px auto 0;
}

.desktop {
  display: none;  
}
.minicontainer .tr,
.container .tr {
    display: table-row;
}
 .otherworks .items div.half {
    width: 100%;
    margin: 0 auto;
    max-width: 318px;
    padding: 0;
    margin-bottom: 4px;
    float: none;
}
.othertitle tr {
 display: block; 
}
.container .frontpromo .tr {
  display: table-row;
}
.otherworks {
  .container {
    max-width:  600px;
  }
}
.main-menu {
  width: 300px;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 81px;

  li {
    display: block;
    a {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
#masthead.site-header.small .logo {
  padding: 12px 20px;
}
#masthead.site-header.small {
  padding: 0;
  .main-menu {
    top: 58px;
  }
}
.headercolor .main-menu {
  background-color: #333333;
}
.portfolio img {
  width: 100%;
}
.portfolio .items li,
.portfolio .items div,
.portfolio .thumbnail, 
.blog .items li,
.blog .items div,
.otherworks .items li,
.otherworks .items div,
.otherworks .thumbnail {
  width: 50%;
  padding: 2px;
}
.blog .thumbnail {
    width: 100%;
      margin: 0 auto;
      float: none;
      max-width: 330px;
        padding: 0 2px 2px;
}
.headerblog {
    margin: 0 -4px;
}
}

@media only screen and (max-width: 667px) {

.page-template-frontpage-template-otherdom .frontpromo h2 {
    font-size: 6vw;
}
.page-template-frontpage-template-otherdom .frontpromo h3 {
    font-size: 3.5vw;
}
.page-template-frontpage-template-otherdom .frontpromo .lg_container .button {
    font-size: 16px;
    font-size: 3.5vw;
}
  .section.packages .one-forth.column {
    width: 100%;
    float: none;
}
    .authors>span {
    display: block;
  }
  .single-post .socialshare {
    float: none;
    margin-top: 10px;
}
#seogroup-embed #seogroup-scan_form {
    max-width: 400px;
}
.single-post {
.sixty,
 .forty {
  width: 100%;
  display: block;
}
 .forty img,
 .forty .postthumb,
 .lgscreen {
    display: none;
  }
  .smallscreen {
    display: block;
    overflow: hidden;
    padding-bottom: 40px;
  }
  .miniportfolio {
    padding-bottom: 50px;
  }
}
  #seogroup-embed #seogroup .seo-scorform .form input[type="submit"] {
    min-width: 150px;
    float: left;
    position: absolute;
    bottom: -65px;
    left: 0;
    max-width: 100%;
    width: 100%;
}
div#seogroup .seo-scorform .greenabar {
    margin-bottom: 75px;
}
#seogroup .seo-scorform .form .form-group input[type="text"] {
  float: none !important;
  width: 100% !important;
  max-width: 100% !important;
}
#seogroup .seo-scorform .form {
    position: relative;
}
#seogroup .outerwrapper {
display: block;
}
#seogroup .seo-scorform .form .form-group {
    float: none !important;
}
}
@media screen and (max-width: 600px) { 

.tabs .tab a,
.packlink {
    padding: 10px;
    font-size: 14px;
}
.tabs .tab {
  margin-bottom: 0;
}
.halfpromo .leftpadd, .halfpromo .rightpadd {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.halfpromo .halfcontent h3 {
    font-size: 7vw;
        line-height: normal;
  }
h1, h2, .hsize {
     font-size: 23px;
    font-size: 7vw;
    line-height: normal;
}
.page-template-landing-template .relative .parallax-windowmin {
    min-height: 400px;
}
.smallcontact.absolute {
    position: static;
            padding-left: 20px;
      padding-right: 20px;
}

    .page-template-frontpage-template-otherdom .frontpromo .container .button {
    min-width: 211px;
    font-size: 18px;
    margin-top: 15px;
}
.service .leftalign {
    h4 {
      font-size: 20px;
    }
}
  .main-menu {
    width: 100%;
    position: static;
    padding-top: 20px;
    text-align: center;
  }
  .forty,
  .sixty {
    width: 100%;
    padding-right: 0;
    display: block;
    padding-bottom: 10px;
  }
  .otherworks .items div, .otherworks .thumbnail {
    width: 100%;
    padding: 5px;
    img {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 400px) { 

.entry-head h1, .entry-head h2 {
    font-size: 20px;
        line-height: normal;
    font-size: 7vw;
}
.bg-holder {
  h1, h2, .hsize {
    font-size: 27px;
    line-height: normal;
     font-size: 7vw;
}
.container {
    padding: 0 20px;
}
}
.page-template-frontpage-template-otherdom .frontpromo .container .button {
    min-width: 183px;
    font-size: 15px;
    padding: 13px;
}
   .page-template-frontpage-template-otherdom .header .frontpromo h2 {
     font-size: 20px;
         font-size: 7vw;
}
.page-template-frontpage-template-otherdom .header .frontpromo h3 {
    font-size: 15px;
        font-size: 4.3vw;
}
.lg_container {
    padding-left: 15px;
    padding-right: 15px;
}

  .portfolio .items li,
 .portfolio .items div,
 .portfolio .thumbnail, 
 .blog .items li,
 .blog .items div,
 .blog .thumbnail,
 .otherworks .items li,
 .otherworks .items div,
 .otherworks .thumbnail {
  width: 100%;
  float: none;
}
.arguments ul {
    padding: 0;
}
.arguments ul li {
    padding-right: 0;
}

.minicontainer .service_image {
  display: none;
}
}
@media screen and (max-width: 380px) {
  .site-header .logo img {
    max-height: 50px;
    margin: 6px 0 0;
  }
.logo {
    padding: 0;
}
 .contact .clogo {
    float: none;
    margin: 0 auto 10px;
}
.contact .ccontent {
    text-align: center;
}
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
 @font-face{font-family:'FontAwesome';src:url('./fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('./fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('./fonts/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('./fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('./fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('./fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;top: 0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
 .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


 #fancybox-outer #fancybox-content {
  border: none;
}
#fancybox-outer #fancybox-left-ico,
#fancybox-outer #fancybox-right-ico {
    background-image: none;
}
#fancybox-right-ico:after {
position: absolute;
    right: 0;
    top: -6px;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    font-size: 36px;
    padding: 0;
}
#fancybox-left-ico:after {
position: absolute;
    left: 0;
    top: -6px;
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    font-size: 36px;
    padding: 0;
}

.page-template-contact-template-otherdom .half {
    padding: 30px;
}
